USE [QuanLyBanQuanAo]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[maChatLieu] [nchar](10) NOT NULL,
	[tenChatLieu] [nvarchar](30) NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[maChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[maDonHang] [varchar](12) NOT NULL,
	[maSP] [nchar](10) NOT NULL,
	[soLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[maHD] [varchar](12) NOT NULL,
	[maSP] [nchar](10) NOT NULL,
	[soLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[maDonHang]  AS ('DH'+CONVERT([varchar](10),[ID])) PERSISTED NOT NULL,
	[ngayDatHang] [date] NULL,
	[maKH] [nchar](10) NULL,
	[maNV] [nchar](10) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD]  AS ('HD'+CONVERT([varchar](10),[ID])) PERSISTED NOT NULL,
	[ngayLapHD] [date] NULL,
	[maNV] [nchar](10) NULL,
	[maKH] [nchar](10) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nchar](10) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[soDT] [nchar](20) NULL,
	[diaChi] [nvarchar](50) NULL,
	[maTK] [nchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuoc]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuoc](
	[maKichThuoc] [nchar](10) NOT NULL,
	[tenKichThuoc] [char](10) NULL,
 CONSTRAINT [PK_KichThuoc] PRIMARY KEY CLUSTERED 
(
	[maKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[maLoai] [nchar](10) NOT NULL,
	[tenLoai] [nvarchar](30) NULL,
 CONSTRAINT [PK_MaLoai] PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[maMauSac] [nchar](10) NOT NULL,
	[tenMauSac] [nvarchar](20) NULL,
 CONSTRAINT [PK_MauSac_1] PRIMARY KEY CLUSTERED 
(
	[maMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nchar](10) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[cmnd] [int] NULL,
	[soDT] [nchar](20) NULL,
	[diaChi] [nvarchar](50) NULL,
	[maTK] [nchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [nchar](10) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[nhanHieu] [nvarchar](30) NULL,
	[maKichThuoc] [nchar](10) NULL,
	[maChatLieu] [nchar](10) NULL,
	[maLoai] [nchar](10) NULL,
	[maMauSac] [nchar](10) NULL,
	[soLuong] [int] NULL,
	[trangThai] [nvarchar](30) NULL,
	[gia] [decimal](18, 0) NULL,
	[anh] [image] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/16/2022 7:13:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nchar](10) NOT NULL,
	[tenTaiKhoan] [nchar](10) NOT NULL,
	[matKhau] [nvarchar](30) NULL,
	[vaiTro] [nvarchar](30) NULL,
 CONSTRAINT [PK_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatLieu] ([maChatLieu], [tenChatLieu]) VALUES (N'1         ', N'Vải Cotton')
INSERT [dbo].[ChatLieu] ([maChatLieu], [tenChatLieu]) VALUES (N'2         ', N'Vải Kaki')
INSERT [dbo].[ChatLieu] ([maChatLieu], [tenChatLieu]) VALUES (N'3         ', N'Vải Jean')
GO
INSERT [dbo].[ChiTietDonHang] ([maDonHang], [maSP], [soLuong]) VALUES (N'DH1     ', N'SP001     ', 3)
INSERT [dbo].[ChiTietDonHang] ([maDonHang], [maSP], [soLuong]) VALUES (N'DH1     ', N'SP002     ', 2)
INSERT [dbo].[ChiTietDonHang] ([maDonHang], [maSP], [soLuong]) VALUES (N'DH2     ', N'SP005     ', 2)
GO
INSERT [dbo].[ChiTietHD] ([maHD], [maSP], [soLuong]) VALUES (N'HD1     ', N'SP008     ', 2)
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([ngayDatHang], [maKH], [maNV], [id]) VALUES (CAST(N'2022-10-10' AS Date), N'KH001     ', N'NV001     ', 1)
INSERT [dbo].[DonDatHang] ([ngayDatHang], [maKH], [maNV], [id]) VALUES (CAST(N'2022-10-11' AS Date), N'KH002     ', N'NV003     ', 2)
INSERT [dbo].[DonDatHang] ([ngayDatHang], [maKH], [maNV], [id]) VALUES (CAST(N'2022-09-10' AS Date), N'KH003     ', N'NV001     ', 3)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ngayLapHD], [maNV], [maKH], [id]) VALUES (CAST(N'2022-10-10' AS Date), N'NV001     ', N'KH001     ', 1)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [soDT], [diaChi], [maTK]) VALUES (N'KH001     ', N'Nguyễn Thị Lan', 0, N'093492184           ', N'16 Quang Trung', N'TK10      ')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [soDT], [diaChi], [maTK]) VALUES (N'KH002     ', N'Mai Hà Anh', 0, N'0944322864          ', N'33 Quang Trung', N'TK11      ')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [soDT], [diaChi], [maTK]) VALUES (N'KH003     ', N'Nguyễn Anh Nam', 1, N'0332983542          ', N'48 Bình Tân', N'TK12      ')
GO
INSERT [dbo].[KichThuoc] ([maKichThuoc], [tenKichThuoc]) VALUES (N'1         ', N'S         ')
INSERT [dbo].[KichThuoc] ([maKichThuoc], [tenKichThuoc]) VALUES (N'2         ', N'M         ')
INSERT [dbo].[KichThuoc] ([maKichThuoc], [tenKichThuoc]) VALUES (N'3         ', N'L         ')
GO
INSERT [dbo].[LoaiSP] ([maLoai], [tenLoai]) VALUES (N'1         ', N'Áo')
INSERT [dbo].[LoaiSP] ([maLoai], [tenLoai]) VALUES (N'2         ', N'Quần')
GO
INSERT [dbo].[MauSac] ([maMauSac], [tenMauSac]) VALUES (N'1         ', N'Trắng')
INSERT [dbo].[MauSac] ([maMauSac], [tenMauSac]) VALUES (N'2         ', N'Xanh')
INSERT [dbo].[MauSac] ([maMauSac], [tenMauSac]) VALUES (N'3         ', N'Đỏ')
GO
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [cmnd], [soDT], [diaChi], [maTK]) VALUES (N'NV001     ', N'Cao Trùng Dương', 1, CAST(N'2002-08-16' AS Date), 21155512, N'0342345625          ', N'178 Phan Huy Ích', N'TK01      ')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [cmnd], [soDT], [diaChi], [maTK]) VALUES (N'NV003     ', N'Nguyễn Nhất An   ', 1, CAST(N'2022-10-14' AS Date), 23332412, N'0932942329          ', N'89 Nguyễn Thái Sơn', N'TK04      ')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [cmnd], [soDT], [diaChi], [maTK]) VALUES (N'QL001     ', N'Dương Thế Ngọc', 0, CAST(N'2002-09-29' AS Date), 23155212, N'0834725821          ', N'222 Nguyễn Văn Bảo', N'TK02      ')
GO
INSERT [dbo].[TaiKhoan] ([maTK], [tenTaiKhoan], [matKhau], [vaiTro]) VALUES (N'TK01      ', N'NV001     ', N'1111', N'Nhân Viên')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTaiKhoan], [matKhau], [vaiTro]) VALUES (N'TK02      ', N'QL001     ', N'1111', N'Quản Lý')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTaiKhoan], [matKhau], [vaiTro]) VALUES (N'TK03      ', N'NV002     ', N'1111', N'Nhân Viên')
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonDatHang] FOREIGN KEY([maDonHang])
REFERENCES [dbo].[DonDatHang] ([maDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_SanPham]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_KhachHang]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ChatLieu] FOREIGN KEY([maChatLieu])
REFERENCES [dbo].[ChatLieu] ([maChatLieu])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ChatLieu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_KichThuoc] FOREIGN KEY([maKichThuoc])
REFERENCES [dbo].[KichThuoc] ([maKichThuoc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_KichThuoc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_MaLoai] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiSP] ([maLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_MaLoai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_MauSac] FOREIGN KEY([maMauSac])
REFERENCES [dbo].[MauSac] ([maMauSac])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_MauSac]
GO
